
.Rproj.user/1A479AB9/sources/prop/10C0DEF3
.Rproj

.Rproj.user/1A479AB9/sources/prop/

.Rproj.user/1A479AB9/sources/s-8210D65A/

.Rproj.user/shared/notebooks/patch-chunk-names

.Rproj.user/shared/notebooks/paths

Artie-Maharaj-Assignment9_Part1.Rproj

Ethnic Income Analysis.R

income.csv
